*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}
header{
    width: 100%;
    height: 0.5rem;
    /*background: #E21918;*/
    display: flex;
    border-bottom:1px solid #cccccc;
}
header input{
    width: 75%;
    height: 0.3rem;
    margin-top:0.1rem;
    margin-left: 5%;
    border:none;
    border-radius: 0.05rem;
    padding-left: 1em;
    line-height:0.3rem;
    background: #eeeeee;
}
header .for{
    width:0.4rem;
    height: 0.3rem;
    margin-top:0.1rem;
    margin-left:2%;
    font-size:16px;
    color: #2BCBF8;
    line-height: 0.3rem;
}

ul.content{
    width: 100%;
    height:auto;
    border-bottom:1px solid #cccccc;
    overflow: hidden;
}
ul.content > a{
    display: block;
    width:100%;
    height:100%;
    color: #000;
    text-decoration: none;
}
li.list{
    display: flex;
    width: 100%;
    height:1rem;
    margin:0 auto;
    padding:0.05rem;
    border-bottom:1px solid #cccccc;
}
.left{
    width: 40%;
    padding:0.06rem;
}
.left img{
    display: block;
    width: 90%;
    height: 100%;
}
.right{
    width: 53%;
    height: 100%;
    position: relative;
}
.right > p{
    width: 100%
}
.time{
    position: absolute;
    bottom:10%;
    font-size: 10px;
    color: #aaaaaa;
    margin-top:0.05rem;
}
div.noimg{
    width: 100%;
    height:60%;
}
